---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url("../font/font.css");


h3 {
  font-weight: 100;
  color: #757F8F;
  text-align: center;
  font-size: 1.5em;
}

h4 {
  color: black;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  text-align: center;
  font-size: 1.3em;
}

#footer-link {
  list-style: none;
  font-weight: 500;
  background-color: transparent;
  border: none;
  width: 60%;
  color: #5D5D5D;
  padding: 0;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0px;
  &:hover {
    color: white;
  }
}

/* Navbar
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo {
  width: 6em;
}

.btn {
  background: white;
  padding: 10px 25px;
  color: rgb(51, 89, 223);
  border-color: rgb(51, 89, 223);
  border-radius: .3rem;
  font-weight: 400;
  height: 43px;
  text-transform: uppercase;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.vertical_line {
  border-right: 1px solid white;
  height: 100%;
  margin-left: .7rem;
  margin-right: -.4rem;
}

nav {
  position: absolute;
  max-width: 90%;
  width: 90%;

  .nav-left {
    float: left;
    padding: 1em 4em;
  }

  .nav-right {
    float: right;
    padding: 1.5em 0em;

    a {
      margin-left: 1rem;
      text-decoration: none;
      &:first-child {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
nav {
    font-size: .7rem;
    max-width: 100%;
    width: 90%;
  }
}

body {
  font-family: DINPro;
  font-weight: 300;

  a {
    border: none;
    width: 30%;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .projects {
    .thumbnails [class*="thumb-containers"] .card-content a, .empty-thumbnails [class*="thumb-containers"] .card-content a, .see-more-projects-container .see-more-projects {
      font-weight: 500;
      background-color: #3359DF;
      border: none;
      width: 30%;
      color: white;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
    }
  }

  .projects {
    .thumbnails [class*="thumb-containers"] .card-content a:hover, .empty-thumbnails [class*="thumb-containers"] .card-content a:hover, .see-more-projects-container .see-more-projects:hover {
      background-color: #5f7de6;
    }
  }

  .hero {
    color: white;
    text-align: center;
    padding: 100px 60px;
    font-weight: 400;
    font-size: 1.6em;
    background: linear-gradient( rgba(0, 39, 62, 0.45), rgba(0,39,62,0.45) ), url("../images/hero.png");
    background-position: center;
    background-size: cover;

    h1 {
      font-size: 1.7em;
      font-weight: 700;
    }

    h4 {
      color: white;
      padding: 0px;
      margin: 0px auto;
      font-weight: 100;
      text-align: center;
      font-size: .7em;
      width: 50%;

      @media screen and (max-width: 480px) {
        width: 80%;
      }
      @media screen and (min-width: 481px) and (max-width: 768px) {
        width: 70%;
      }
    }
  }

  .tag {
    text-align: left;
    padding-left: 5px;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .web {
    border-left: 2px solid #6376f9;
  }

  .mobile {
    border-left: 2px solid #f0405e;
  }

  .opensource {
    border-left: 2px solid #0fd8e8;
  }

  .projects {
    background-color: #FBFBFB;
    padding: 30px 80px;
    padding-bottom: 80px;

    h3 {
      margin: 4%;
    }

    .thumbnails, .empty-thumbnails {
      display: flex;
    }

    .thumbnails [class*="thumb-containers"], .empty-thumbnails [class*="thumb-containers"] {
      display: inline-block;
      width: 30%;
      margin-left: 2%;
    }

    .thumbnails [class*="thumb-containers"] .image-holder, .empty-thumbnails [class*="thumb-containers"] .image-holder, .thumbnails [class*="thumb-containers"] .executer-image-holder, .empty-thumbnails [class*="thumb-containers"] .executer-image-holder, .thumbnails [class*="thumb-containers"] .skilltree-image-holder, .empty-thumbnails [class*="thumb-containers"] .skilltree-image-holder, .thumbnails [class*="thumb-containers"] .nkata-image-holder, .empty-thumbnails [class*="thumb-containers"] .nkata-image-holder {
      display: flex;
      height: 200px;
      position: relative;
      left: 0;
      right: 0;
      border: 1px solid #e3e3e3;

      &::before {
        content: "";
        background-image: url("../images/Executer_Screenshot.png");
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .thumbnails [class*="thumb-containers"] .image-holder img, .empty-thumbnails [class*="thumb-containers"] .image-holder img, .thumbnails [class*="thumb-containers"] .executer-image-holder img, .empty-thumbnails [class*="thumb-containers"] .executer-image-holder img, .thumbnails [class*="thumb-containers"] .skilltree-image-holder img, .empty-thumbnails [class*="thumb-containers"] .skilltree-image-holder img, .thumbnails [class*="thumb-containers"] .nkata-image-holder img, .empty-thumbnails [class*="thumb-containers"] .nkata-image-holder img {
      width: 100px;
      margin: auto;
      z-index: 9999;
    }

    .thumbnails [class*="thumb-containers"] .skilltree-image-holder, .empty-thumbnails [class*="thumb-containers"] .skilltree-image-holder {
      &::before {
        background-image: url('../images/Skilltree_Screenshot.png');
        background-size: cover;
      }
    }

    .thumbnails [class*="thumb-containers"] .nkata-image-holder, .empty-thumbnails [class*="thumb-containers"] .nkata-image-holder {
      &::before {
        background-image: url('../images/Nkata_Screenshot.png');
        background-size: cover;
      }
    }

    .thumbnails [class*="thumb-containers"] .card-content, .empty-thumbnails [class*="thumb-containers"] .card-content {
      margin-bottom: 10%;
      padding-bottom: 6%;
      border: 1px solid #e3e3e3;
    }

    .thumbnails [class*="thumb-containers"] .card-content h2, .empty-thumbnails [class*="thumb-containers"] .card-content h2 {
      font-weight: 100;
      padding: 0px 20px;
      text-transform: uppercase;
    }

    .thumbnails [class*="thumb-containers"] .card-content p, .empty-thumbnails [class*="thumb-containers"] .card-content p {
      height: 50px;
      padding: 0px 20px;
      margin: 0;
      font-weight: 100;
      font-size: .8em;
    }

    .thumbnails [class*="thumb-containers"] .card-content .tags, .empty-thumbnails [class*="thumb-containers"] .card-content .tags {
      margin-top: 4em;
    }

    .thumbnails [class*="thumb-containers"] .card-content .tags span, .empty-thumbnails [class*="thumb-containers"] .card-content .tags span {
      margin-top: 300px;
      text-transform: uppercase;
      padding-right: 5px;
      font-size: .65em;
      font-weight: 700;
    }

    .thumbnails [class*="thumb-containers"] .card-content .tags span::before, .empty-thumbnails [class*="thumb-containers"] .card-content .tags span::before {
      content: "\25CF";
      font-weight: 100;
      font-size: .3em;
      padding: 0px 3px;
    }

    .thumbnails [class*="thumb-containers"] .card-content a, .empty-thumbnails [class*="thumb-containers"] .card-content a, .thumbnails [class*="thumb-containers"] .card-content .see-more-projects-container .see-more-projects, .see-more-projects-container .thumbnails [class*="thumb-containers"] .card-content .see-more-projects, .empty-thumbnails [class*="thumb-containers"] .card-content .see-more-projects-container .see-more-projects, .see-more-projects-container .empty-thumbnails [class*="thumb-containers"] .card-content .see-more-projects {
      font-weight: 200;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
      border-radius: 4px;
      width: 50%;
      padding: 10px 20px;
      text-align: center;
      margin: 0px 20px;
      font-weight: 500;
    }

    .empty-thumbnails {
      margin-top: 30px;
      height: 370px;

      .thumb-containers {
        background: url("../images/coming_soon.png") repeat center;
        background-size: cover;
      }
    }
    .see-more-projects-container {
      display: flex;
      margin-top: 5%;

      .see-more-projects {
        pointer-events: none;
        background-color: grey;
        text-align: center;
        display: inline-block;
        width: 20%;
        margin: 0 auto;
        padding: 20px;
      }
    }
  }

  section {
    height: 30%;
    background-color: #F1F1F1;
    text-align: center;
    padding: 40px 50px;

    h3 {
      font-weight: 700;
      color: #3A3A3A;
      font-size: 2em;
    }

    input {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 0px;
      box-sizing: border-box;
    }

    button {
      padding: 15px 20px;
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      border: none;
      width: 10%;
      background-color: #3d3d3d;
      font-size: .8em;
      text-transform: uppercase;
      &:hover {
        background-color: #555555;
      }
    }
  }

  .hs-button.primary {
    position: relative;
    display: block;
    width: 100%;
    height: 43px;
    line-height: 43px;
    font-size: 12px;
    font-weight: 500;
    font-family: DINPro;
    text-align: center;
    color: #fff;
    background-color: #3359df;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 1px;
    white-space: nowrap;
    -webkit-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -webkit-transform .15s ease-out;
    -moz-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -moz-transform .15s ease-out;
    -o-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -o-transform .15s ease-out;
    transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, transform .15s ease-out;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    vertical-align: middle;
    border: 0;
    margin: 5px 0;
    float: left;
    padding: 0;
  }

  input {
    &[type="submit"], &[type="button"] {
      position: relative;
      display: block;
      width: 100%;
      height: 43px;
      line-height: 43px;
      font-size: 12px;
      font-weight: 500;
      font-family: DINPro;
      text-align: center;
      color: #fff;
      background-color: #3359df;
      text-decoration: none;
      cursor: pointer;
      outline: 0;
      font-style: normal;
      text-transform: uppercase;
      text-shadow: none;
      letter-spacing: 1px;
      white-space: nowrap;
      -webkit-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -webkit-transform .15s ease-out;
      -moz-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -moz-transform .15s ease-out;
      -o-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -o-transform .15s ease-out;
      transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, transform .15s ease-out;
      -webkit-box-sizing: initial;
      -moz-box-sizing: initial;
      box-sizing: initial;
      vertical-align: middle;
      border: 0;
      margin: 5px 0;
      float: left;
      padding: 0;
    }
  }

  .hs-button.primary:hover {
    color: #3359df;
    background: #fff;
    border: 1px solid #3359df;
  }

  input {
    &[type="submit"]:hover, &[type="button"]:hover {
      color: #3359df;
      background: #fff;
      border: 1px solid #3359df;
    }
  }

  .hs-button.primary:focus {
    border: 1px solid #3359df;
  }

  input {
    &[type="submit"]:focus, &[type="button"]:focus {
      border: 1px solid #3359df;
    }
  }

  footer {
    display: block;
    font-size: .8em;
    color: #5D5D5D;
    height: 30%;
    background-color: #16171D;
    padding: 40px;
    text-align: center;

    span {
      display: block;
    }

    h4 {
      color: white;
      text-align: left;
    }

    div[class$="footer"] {
      width: 21%;
      padding: 25px 25px;
      display: inline-block;
      margin-right: 30px;
      text-align: left;
    }

    .andela-footer {
      color: #9B9B9B;

      img {
        display: block;
        width: 30%;
        margin-bottom: 20px;
      }

      .navigation-footer,
      .projects-footer {
        width: 15%;
      }

      .navigation-footer span {
        padding: 1em 1em;
      }

      .projects-footer ul li {
        list-style-type: none;
      }
    }
  }
}

/* All HubSpot Forms
   ========================================================================== */
/* Form Field (selector for form field wrapper) */

.hbspt-form {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.hs-form {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
  font-family: DINPro;
}

.hs_email {
  float: left;
  width: 65%;
}

.hs_submit {
  float: right;
  width: 33%;
}

.hs-form .hs-form-field {
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #949494;
}

.hs-form-required {
  display: none;
}

/* Descriptions (targets class applied to Help Text divs) */

.hs-form {
  .hs-field-desc, label, .hs-form-field > label {}
  input {
    &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"], &[type="file"] {
      background-color: #ffffff;
      color: #949494;
      font-size: 14px;
      height: 43px;
      max-height: 100px;
      padding: 10px 17px;
      outline: 0;
      resize: none;
      font-family: inherit;
      line-height: 18px;
      background-color: #f6f6f5;
      color: #7f8385;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      margin: 5px 0;
    }
  }
  textarea, select {
    background-color: #ffffff;
    color: #949494;
    font-size: 14px;
    height: 43px;
    max-height: 100px;
    padding: 10px 17px;
    outline: 0;
    resize: none;
    font-family: inherit;
    line-height: 18px;
    background-color: #f6f6f5;
    color: #7f8385;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /*border: 1px solid #fafafa;*/
    margin: 5px 0;
  }
  input {
    &[type="email"] {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    &[type="text"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus, &[type="file"]:focus {
      color: #949494;
      background-color: #ffffff;
      border: 1px solid #3359df;
    }
  }
  textarea:focus, select:focus {
    color: #949494;
    background-color: #ffffff;
    border: 1px solid #3359df;
  }

  .hs-error-msgs label {
    text-align: left;
    color: #e74c3c;
  }
  li {
    list-style: none;
  }
}

/* Labels (selects field labels and error messages) */

/* Inputs (selectors for all inputs)  */

/* Inputs in focus (selectors for all inputs when clicked)  */

/* Multi-line inputs (selectors to target multi-line fields */

/* Dropdowns (selectors for dropdowns) */

/* Multi-select (selectors for multi-select fields) */

/* Required (selectors for fields, when they do not pass validation) */

/* Error message (selector for validation messages) */

/* Placeholder Text (styles the placeholder attribute text) */

::-webkit-input-placeholder {
  /* Webkit Browsers */
}

:-moz-placeholder {
  /* Firefox 18- */
}

::-moz-placeholder {
  /* Firefox 19+ */
}

:-ms-input-placeholder {
  /* IE10 */
}

/* Multi Column Form (selectors for fieldsets and field wrappers)
   ========================================================================== */

.hs-form .hs-form fieldset {
  &.form-columns-1 .hs-form-field, &.form-columns-2 .hs-form-field, &.form-columns-3 .hs-form-field {}
}


@media screen and (max-width: 480px) {
  body .hero {
    height: 40%;
    padding: 20% 10%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body .hero {
    height: 20%;
    padding: 10% 10%;
  }
}

@media screen and (max-width: 480px) {
  body .projects {
    padding: 0;
    padding-bottom: 30%;
  }
}

@media screen and (max-width: 480px) {
  body .projects h3 {
    margin: 7%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body .projects h3 {
    margin: 10%;
  }
}

@media screen and (max-width: 480px) {
  body .projects {
    .thumbnails, .empty-thumbnails {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body .projects {
    .thumbnails, .empty-thumbnails {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 480px) {
  body .projects {
    .thumbnails [class*="thumb-containers"], .empty-thumbnails [class*="thumb-containers"] {
      width: 96%;
      margin: 4% 2%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body .projects {
    .thumbnails [class*="thumb-containers"], .empty-thumbnails [class*="thumb-containers"] {
      margin: 5% auto;
      width: 70%;
    }
  }
}

@media screen and (max-width: 480px) {
  body .projects .empty-thumbnails {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body .projects .empty-thumbnails {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body .projects .see-more-projects-container .see-more-projects {
    width: 70%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body .projects .see-more-projects-container .see-more-projects {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  body section input {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body section input {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  body section button {
    width: 70%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body section button {
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  body footer {
    display: block;
    padding: 2em;
    font-size: .6em;
  }
}

@media screen and (max-width: 480px) {
  body footer span {
    display: inline-block;
    padding-right: 3em;
  }
}

@media screen and (max-width: 480px) {
  body footer div[class$="footer"] {
    width: 100%;
    padding: .1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body footer div[class$="footer"] {
    font-size: .9em;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  body footer .andela-footer {
    font-size: .1em;
    width: 100%;
    margin: 1em 0em;
    padding: .1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body footer .andela-footer img {
    width: 70%;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  body footer .andela-footer {
    .navigation-footer, .projects-footer {
      font-size: .2em;
      padding-top: .5em;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body footer .andela-footer {
    .navigation-footer, .projects-footer {
      font-size: .2em;
      padding-top: .5em;
    }
  }
}
