---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url("../font/font.css");
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

body {
  margin: 0 auto;
  font-family: DINPro;
  font-weight: 300;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Navbar
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
  background-image: url(../images/banner.png);


  #navbar {
    margin-top: 1rem;
  }

  nav {
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
    margin-bottom: 0;

    .nav-container {
      max-width: 85%;
      margin: 0 auto;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
    }

    .navbar-nav {

      .what-we-do {
        margin-right: .5rem;

        &:after {
          content: '';
          display: block;
          height: 25px;
          width: 1px;
          position: absolute;
          top: 50%;
          left: 85%;
          background-color: #cfcfcf;
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          margin-left: 7px;
          -webkit-transition: opacity .15s ease-out,background-color .15s ease-out;
          transition: opacity .15s ease-out,background-color .15s ease-out;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;

        &:hover {
          color: #fff;
        }

        .plus {
          width: 4px;
          height: 4px;
          display: none;
          position: absolute;
          top: 50%;
          right: -2px;
          margin-top: -2px;
          z-index: 1;
          -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      .btn {
        background: #fff;
        color: #527ae5;
        border-color: #527ae5;
        padding: 1.3rem 2.3rem;

        &:hover {
          color: #527ae5;
          background: #fff;
        }
      }
    }

    .logo {
      width: 13rem;
    }
  }

  .banner__content {
    padding: 5rem 6rem 10rem;
    color: #fff;
    text-align: center;
    font-size: 1.6em;

    h1 {
      font-size: 1.7em;
      font-weight: 700;
    }

    h4 {
      color: white;
      padding: 0px;
      margin: 0px auto;
      font-weight: 100;
      text-align: center;
      font-size: 2rem;
      width: 55%;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    nav .navbar-nav .what-we-do:after {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {

.banner {
  nav .navbar-nav .what-we-do:after {
    display: none;
  }

  .banner__content {
    padding: 6rem 3rem;

    h4 {
      color: white;
      padding: 0px;
      margin: 0px auto;
      font-weight: 100;
      text-align: center;
      font-size: 2rem;
      width: 100%;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .banner .banner__content {
    padding: 6rem 3rem;

    h4 {
      width: 90%;
    }
  }
}



.products {
  .skilltree {
    max-width: 85%;
    margin: 4rem auto 0;
  }

  .executer {
    max-width: 85%;
    margin: 4rem auto 0;
  }

  .nkata {
    max-width: 85%;
    margin: 4rem auto 0;
  }

  hr {
    margin: 0;
  }

  .type {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    margin: .1rem 1rem;
    letter-spacing: 0.6px;
  }

  .web-app {
    color: #768efb;
    @extend .type;
  }

  .mobile-app {
    color: #f0405e;
    @extend .type;
  }

  .open-source {
    color: #00deed;
    @extend .type;
  }

  .app-name {
    margin: 0 1rem 1.5rem;
    color: #28307b;
    font-size: 3.2rem;
    font-weight: 100;
  }

  .prod-image {
    .browser {
      width: 65rem;
      height: auto;
    }

    .mobile {
      width: 40rem;
      height: auto;
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    // .prod-row {
    //   flex-direction: column;
    // }
    .prod-image {

      .browser {
        width: 65rem;
        height: auto;
      }

      .mobile {
        width: 40rem;
        height: auto;
      }
    }

    .prod-description {
      font-size: 2rem;
      line-height: 3rem;
      color: #283071;
    }

    .skill-description {
      @extend .prod-description;
      padding: 11rem 0 4rem 8rem;

      .text-description {
        margin-bottom: 2.5rem;
      }
    }

    .exec-description {
      @extend .prod-description;
      padding: 11rem 0 4rem 0rem;

      .text-description {
        margin-bottom: 2.5rem;
      }
    }

    .nkata-description {
      @extend .prod-description;
      padding: 11rem 0 4rem 8rem;

      .text-description {
        margin-bottom: 2.5rem;
      }
    }

    .prod-type {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.6rem;
      margin: .1rem 9rem;
      letter-spacing: 0.6px;
    }

    .web-app {
      color: #768efb;
      @extend .prod-type;
    }

    .mobile-app {
      color: #f0405e;
      @extend .prod-type;
    }

    .open-source {
      color: #00deed;
      @extend .prod-type;
    }

    .app-name {
      margin: 0 9rem 1.5rem;
      color: #28307b;
    }
  }

  .description {
    font-size: 2.6rem;
    line-height: 3.2rem;
    color: #283071;

    .text-description {
      margin-bottom: 2.5rem;
    }
  }

  .skill-description {
    @extend .description;
    padding: 11rem 0 4rem 8rem;
  }

  .exec-description {
    @extend .description;
    padding: 11rem 16rem 4rem 0;
  }

  .nkata-description {
    @extend .description;
    padding: 11rem 0 4rem 8rem;
  }

  .skill-separator {
    height: .7rem;
    width: 5rem;
    background: #6376f9;
  }

  .exec-separator {
    height: .7rem;
    width: 5rem;
    background: #f0405e;
  }

  .nkata-separator {
    height: .7rem;
    width: 5rem;
    background: #00deed;
  }

  .tags {
    margin-top: 2.5rem;

    span {
      text-transform: uppercase;
      padding-right: 5px;
      font-size: 1.3rem;
      font-weight: 700;
      color: #000000;

      &:before {
        content: "\25CF";
        font-weight: 100;
        font-size: 1.4rem;
        padding: 0.2rem;
      }
    }
  }
}

.lib-container {
  width: 85%;
  margin: 0 auto;
}

.libraries {
    color: #fff;
    position: relative;
    background: radial-gradient(rgb(103, 108, 160), rgb(69, 76, 162));
    background: -webkit-radial-gradient(rgb(103, 108, 160), rgb(69, 76, 162));
    padding: 8rem 0;

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 2rem;
      font-size: 3rem;
    }
}


.card {
  left: 0;
  right: 0;
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  height: 15rem;
  color: #fff;
  text-decoration: none;
  overflow-y: hidden;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }

  .arrow  {
    position: absolute;
    margin-top: 27%;
    margin-left: 80%;
    z-index: 30;

    img {
      width: 2.3rem;
    }
  }

  .column-description {
    background: rgb(105, 109, 158);
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;

    h4 {
      font-size: 1.8rem;
      margin: .5rem auto;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .column-arrow {
    background: rgb(105, 109, 158);
    padding: 10rem 1.5rem 1rem 0rem;
  }

  .column-icon {
    background: #7d82b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .icon {
      img {
        height: auto;
        width: 4.3rem;
      }
    }
  }
}


.cta-section {
  width: 85%;
  margin: 0 auto;
  background: #fff;
  padding: 4rem 0;
  color: #283071;

  .cta-row {
    margin-top: 2rem 0;

    .button {
      margin-top: 1.9rem;
    }
  }

  p {
    font-size: 2.9rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-top: 1.6rem;
  }

  .cta-button {
    padding: 1.3rem 7rem;
    border: .5rem solid #283071;
    color: #283071;
    border-radius: 4px;
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
      color: #fff;
      border: .5rem solid #283071;
      background: #283071;

    }
  }

}

section {
    height: 30%;
    background-color: #F1F1F1;
    text-align: center;
    padding: 40px 50px;

    h3 {
      font-weight: 700;
      color: #3A3A3A;
      font-size: 2em;
    }

    input {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 0px;
      box-sizing: border-box;
    }

    button {
      padding: 15px 20px;
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      border: none;
      width: 10%;
      background-color: #3d3d3d;
      font-size: .8em;
      text-transform: uppercase;
      &:hover {
        background-color: #555555;
      }
    }
  }

  .hs-button.primary {
    position: relative;
    display: block;
    width: 100%;
    height: 43px;
    line-height: 43px;
    font-size: 12px;
    font-weight: 500;
    font-family: DINPro;
    text-align: center;
    color: #fff;
    background-color: #3359df;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 1px;
    white-space: nowrap;
    -webkit-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -webkit-transform .15s ease-out;
    -moz-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -moz-transform .15s ease-out;
    -o-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -o-transform .15s ease-out;
    transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, transform .15s ease-out;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    vertical-align: middle;
    border: 0;
    margin: 5px 0;
    float: left;
    padding: 0;
  }

  input {
    &[type="submit"], &[type="button"] {
      position: relative;
      display: block;
      width: 100%;
      height: 43px;
      line-height: 43px;
      font-size: 12px;
      font-weight: 500;
      font-family: DINPro;
      text-align: center;
      color: #fff;
      background-color: #3359df;
      text-decoration: none;
      cursor: pointer;
      outline: 0;
      font-style: normal;
      text-transform: uppercase;
      text-shadow: none;
      letter-spacing: 1px;
      white-space: nowrap;
      -webkit-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -webkit-transform .15s ease-out;
      -moz-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -moz-transform .15s ease-out;
      -o-transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, -o-transform .15s ease-out;
      transition: color .15s ease-out, background-color .15s ease-out, border-color .15s ease-out, transform .15s ease-out;
      -webkit-box-sizing: initial;
      -moz-box-sizing: initial;
      box-sizing: initial;
      vertical-align: middle;
      border: 0;
      margin: 5px 0;
      float: left;
      padding: 0;
    }
  }

  .hs-button.primary:hover {
    color: #3359df;
    background: #fff;
    border: 1px solid #3359df;
  }

  input {
    &[type="submit"]:hover,
    &[type="button"]:hover {
      color: #3359df;
      background: #fff;
      border: 1px solid #3359df;
    }
  }

  .hs-button.primary:focus {
    border: 1px solid #3359df;
  }

  input {
    &[type="submit"]:focus,
    &[type="button"]:focus {
      border: 1px solid #3359df;
    }
  }

  footer {
    display: block;
    font-size: .8em;
    color: #5D5D5D;
    height: 30%;
    background-color: #16171D;
    padding: 40px;
    text-align: center;


    #footer-link {
      list-style: none;
      font-weight: 500;
      background-color: transparent;
      border: none;
      width: 60%;
      color: #5D5D5D;
      padding: 0;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      margin: 4px 0px;

      &:hover {
        color: #fff;
      }
    }

    span {
      display: block;
    }

    h3 {
      font-weight: 100;
      color: #757F8F;
      text-align: center;
      font-size: 1.5em;
    }

    h4 {
      color: white;
      padding: 0px;
      margin: 0px;
      font-weight: 500;
      text-align: center;
      font-size: 1.3em;
      text-align: left;
    }


    div[class$="footer"] {
      width: 21%;
      padding: 25px 25px;
      display: inline-block;
      margin-right: 5rem;
      text-align: left;
    }

    .andela-footer {
      color: #9B9B9B;

      img {
        display: block;
        width: 30%;
        margin-bottom: 20px;
      }

      .navigation-footer,
      .projects-footer {
        width: 15%;
      }

      .navigation-footer span {
        padding: 1em 1em;
      }

      .projects-footer ul li {
        list-style-type: none;
        margin-right: 0px;
      }
    }
}

/* All HubSpot Forms
   ========================================================================== */
/* Form Field (selector for form field wrapper) */

.hbspt-form {
  width: 60%;
  margin: 0 auto 20px;
  padding-bottom: 5rem;
}

.hs-form {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
  font-family: DINPro;
}

.hs_email {
  float: left;
  width: 65%;
}

.hs_submit {
  float: right;
  width: 33%;
}

.hs-form {
  .hs-form-field {
    display: inline-block;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #949494;
  }
}

.hs-form-required {
  display: none;
}

/* Descriptions (targets class applied to Help Text divs) */

.hs-form {
  .hs-field-desc,
  label,
  .hs-form-field > label {
    font-weight: 300;
    text-align:  center;
    display: inline;
  }
  input {
    &[type="text"],
    &[type="password"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="time"],
    &[type="week"],
    &[type="number"],
    &[type="email"],
    &[type="url"],
    &[type="search"],
    &[type="tel"],
    &[type="color"],
    &[type="file"] {
      background-color: #ffffff;
      color: #949494;
      font-size: 14px;
      height: 43px;
      max-height: 100px;
      padding: 10px 17px;
      outline: 0;
      resize: none;
      font-family: inherit;
      line-height: 18px;
      background-color: #f6f6f5;
      color: #7f8385;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      margin: 5px 0;
    }
  }

  textarea,
  select {
    background-color: #ffffff;
    color: #949494;
    font-size: 14px;
    height: 43px;
    max-height: 100px;
    padding: 10px 17px;
    outline: 0;
    resize: none;
    font-family: inherit;
    line-height: 18px;
    background-color: #f6f6f5;
    color: #7f8385;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /*border: 1px solid #fafafa;*/
    margin: 5px 0;
  }

  input {
    &[type="email"] {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    &[type="text"]:focus,
    &[type="password"]:focus,
    &[type="datetime"]:focus,
    &[type="datetime-local"]:focus,
    &[type="date"]:focus,
    &[type="month"]:focus,
    &[type="time"]:focus,
    &[type="week"]:focus,
    &[type="number"]:focus,
    &[type="email"]:focus,
    &[type="url"]:focus,
    &[type="search"]:focus,
    &[type="tel"]:focus,
    &[type="color"]:focus,
    &[type="file"]:focus {
      color: #949494;
      background-color: #ffffff;
      border: 1px solid #3359df;
    }
  }

  textarea:focus,
  select:focus {
    color: #949494;
    background-color: #ffffff;
    border: 1px solid #3359df;
  }

  .hs-error-msgs label {
    text-align: left;
    color: #e74c3c;
  }

  li {
    list-style: none;
  }
}

/* Labels (selects field labels and error messages) */

/* Inputs (selectors for all inputs)  */

/* Inputs in focus (selectors for all inputs when clicked)  */

/* Multi-line inputs (selectors to target multi-line fields */

/* Dropdowns (selectors for dropdowns) */

/* Multi-select (selectors for multi-select fields) */

/* Required (selectors for fields, when they do not pass validation) */

/* Error message (selector for validation messages) */

/* Placeholder Text (styles the placeholder attribute text) */

::-webkit-input-placeholder {
  /* Webkit Browsers */
}

:-moz-placeholder {
  /* Firefox 18- */
}

::-moz-placeholder {
  /* Firefox 19+ */
}

:-ms-input-placeholder {
  /* IE10 */
}

/* Multi Column Form (selectors for fieldsets and field wrappers)
   ========================================================================== */

.hs-form .hs-form fieldset {
  &.form-columns-1 .hs-form-field, &.form-columns-2 .hs-form-field, &.form-columns-3 .hs-form-field {}
}


@media screen and (max-width: 480px) {
  body .hero {
    height: 40%;
    padding: 20% 10%;

    h4 {
      width: 100%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body .hero {
    height: 20%;
    padding: 10% 10%;

    h4 {
      width: 90%;
    }
  }
}



@media screen and (max-width: 480px) {
  .hs-form {

    .hs-form-field {
      width: 100%;
    }

    .hs_submit {
      width: 100%;
    }

    .hs-error-msgs {
      display: none;

      label {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hs-form {

    .hs-form-field {
      width: 100%;
    }

    .hs_submit {
      width: 100%;
    }

    .hs-error-msgs {
      display: none;

      label {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body section button {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body section button {
    width: 100%;
  }

  body section .hs-input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body footer {
    display: block;
    padding: 2em;
    font-size: .6em;
  }
}

@media screen and (max-width: 480px) {
  body footer span {
    display: inline-block;
    padding-right: 3em;
  }
}

@media screen and (max-width: 480px) {
  body footer div[class$="footer"] {
    width: 100%;
    padding: .1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body footer div[class$="footer"] {
    font-size: .9em;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  body footer .andela-footer {
    font-size: .1em;
    width: 100%;
    margin: 1em 0em;
    padding: .1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body footer .andela-footer img {
    width: 70%;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  body footer .andela-footer {
    .navigation-footer, .projects-footer {
      font-size: .2em;
      padding-top: .5em;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body footer .andela-footer {
    .navigation-footer, .projects-footer {
      font-size: .2em;
      padding-top: .5em;
    }
  }
}


.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
  left: -12px;
    height: 40px;
  width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 5rem;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
  background: #fff;
}
.carousel-indicators .active {
background: #34375c;
}

/** Cards **/
.contributions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
  background: #011330;
  text-align: center;
  h1 {
    order: 1;
    color: #fff;
  }
  .cards {
    order: 2;
  }
  p {
    order: 3;
    color: #fff;
  }
}

.cards {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-grow: 1;
  justify-content: center;
  align-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  .card {
    display: flex;
    flex-direction: column;
    color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.10);
    border-radius: 4px;
    padding: 0.3em;
    margin: auto 0.5em;
    width: 220px;
    .card__content {
      transition: 1s all ease-in-out;
      padding: 0.5em 1em;
      .card__title {
        font-family: DINPro;
        letter-spacing: 2px;
        h3 {
          font-size: 10px;
          text-transform: uppercase;
        }
      }
      .card__body {
        text-align: center;
      }
    }
  }
}

.count-up {
  font-size: 3em;
  font-weight: 700;
  color: #848C97;
  font-family: DINPro;
  letter-spacing: 5px;
}

.projects {
  border: 1px solid #F7941E;
  cursor: default;
  .card__title {
    color: #F7941E;
  }
}

.pull-requests {
  border: 1px solid #F0405E;
  cursor: default;
  .card__title {
    color: #F0405E;
  }
}

.commits {
  border: 1px solid #77CF42;
  cursor: default;
  .card__title {
    color: #77CF42;
  }
}

#time-difference {
 color: #F0405E;
}

@media only screen and (max-width: 480px) {
 .cards {
    flex-direction: column;
    justify-content: space-around;
    .card {
      margin: 1em auto;
    }
 }
}

@media (min-width: 992px) {
  .col-md-3 {
    width: 100%;
  }

}
