<footer>
  <div class="andela-footer">
    <a href="https://andela.com">
      <img src="/images/Landscape-white.png" alt="Andela Logo">
    </a>
    Andela extends engineering teams with world-class software developers.
  </div>
  <div class="navigation-footer">
    <h4>Navigation</h4>
    <p><span><a id="footer-link" href="https://andela.com/what-we-do">What we do</a></span><span><a id="footer-link" href="https://andela.com/blog"> Blog</a></span><span><a id="footer-link" href="https://andela.com/about-us"> About Us</a></span></p>
  </div>
  <div class="projects-footer">
    <h4>Projects</h4>
    <p><span><a id="footer-link" href="/executer/">Executer</a></span><span><a id="footer-link" href="/skilltree/">Skilltree</a></span><span><a id="footer-link" href="/nkata">Nkata</a></span></p>
  </div>
</footer>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/countup.js/1.7.1/countUp.min.js'></script>
  <script type="text/javascript" src="{{ "/js/carousel.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>


<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1490636.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->

<!-- GA Tracking Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54977360-3', 'auto');
  ga('send', 'pageview');

</script>
