<footer>
  <div class="andela-footer">
    <a href="https://andela.com">
      <img src="/images/Landscape-white.png" alt="Andela Logo">
    </a>
    Andela provides integrated software developers from the top 1% of global talent to help your company scale.
  </div>
  <div class="navigation-footer">
    <h4>Navigation</h4>
    <p><span><a id="footer-link" href="https://andela.com/what-we-do">What we do</a></span><span><a id="footer-link" href="https://andela.com/blog"> Blog</a></span><span><a id="footer-link" href="https://andela.com/about-us"> About Us</a></span></p>
  </div>
  <div class="projects-footer">
    <h4>Products</h4>
    <p><span><a id="footer-link" href="/executer/">Executer</a></span><span><a id="footer-link" href="/skilltree/">Skilltree</a></span><span><a id="footer-link" href="/nkata">Nkata</a></span></p>
  </div>
</footer>
