 <nav>
  <div class="row">
    <div class="column float-left">
      <div class="nav-left">
        <a href="#">
          <img src="../images/Landscape-white.png" class="logo">
        </a>
      </div>
    </div>
    <div class="column float-right">
      <div class="nav-right">
        <a href="https://andela.com/what-we-do/">What We Do</a> <span class="vertical_line"></span>
        <a href="https://andela.com/get-started" class="btn">Get started</a>
      </div>
    </div>
  </div>
</nav>



