<!-- <head> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ "images/favicon.png" | prepend: site.baseurl }}">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Include page-specific styles -->
  {% if page.css %}
    {% for stylesheet in page.css %}
    <link rel="stylesheet" href="{{ "style.css" | prepend: site.baseurl }}" media="screen" type="text/css">
    {% endfor %}

  {% else %}
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  {% endif %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css"
      rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  <!--[if lte IE 8]>
	  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>

  <!-- <script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script> -->
  <!-- Include page-specific scripts -->
  {% if page.js %}
    {% for script in page.js %}
      <script type="text/javascript" src="{{ "app.js" | prepend: site.baseurl }}"></script>
    {% endfor %}
  {% endif %}

</head>
