<!-- <div class="banner">
  <div class="navbar">
    <div class="nav-container">
      <div class="row nav-row">
        <div class="column">
          <a href="#" class="navbar__logo">
            <img src="images/logo-white.png" class="logo">
          </a>
        </div>
        <div class="column">
          <nav class="float-right navbar__nav">
            <a href="#">What we do</a>
            <span class="vertical-line"></span>
            <a href="#" class="btn">GET STARTED</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="banner__content">
        <h1>Products We've Built</h1>
        <h5>While most of our code is written for our clients, here are some products we’ve built to share. As our developers build apps for the community, we’ll post them here for you to see, use and contribute to.
        </h5>
      </div>
    </div>
  </div>
</div>
 -->

<nav>
  <div class="row">
    <div class="column float-left">
      <div class="nav-left">
        <a href="#">
          <img src="../images/Landscape-white.png" class="logo">
        </a>
      </div>
    </div>
    <div class="column float-right">
      <div class="nav-right">
        <a href="https://andela.com/what-we-do/">What We Do</a> <span class="vertical_line"></span>
        <a href="https://andela.com/get-started" class="btn">Get started</a>
      </div>
    </div>
  </div>
</nav>

<div class="hero">
    <h1>Products We've Built</h1>
      <h4>While most of our code is written for our clients, here are some products we’ve built to share. As our developers build apps for the community, we’ll post them here for you to see, use and contribute to.</h4>
    </div>


