@import "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.css";
@import url("../font/font.css");

/* Stylesheet for Skilltree */
.wrapper{
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}
.page-content{
  padding: 0;
}

a {
  color: inherit;
}

#footer-link:hover {
  color: #fff;
}

.cta-container {
  text-align: center;
}

.button.skilltree-cta {
  background-color: #AC62D0;
  border: #AC62D0;
}

body {
  font-family: DINPro, sans-serif;
  margin: 0; }
  body #banner {
    color: #fff;
    padding-bottom: 0;
    z-index: 4;
    position: relative;
    background-color: #AC62D0; }
    body #banner #navbar .container {
      padding: .5rem 0 0 0; }
      body #banner #navbar .container .row {
        padding: 2rem;
        margin-bottom: 2rem;
        overflow: hidden; }
        body #banner #navbar .container .row .logo {
          text-decoration: none;
          color: #fff;
          font-size: 3.2rem;
          font-weight: 700; }
        body #banner #navbar .container .row nav {
          display: block;
          font-size: 1.3rem;
          color: #fff; }
          body #banner #navbar .container .row nav a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 3rem;
            opacity: .7; }
    body #banner .container .header {
      text-align: center; }
      body #banner .container .header h1 {
        font-size: 3.8rem;
        font-weight: 400; }
      body #banner .container .header h2 {
        font-weight: 200;
        font-size: 2.6rem;
        letter-spacing: 1px;
        margin: 0 auto;
        max-width: 900px;
        margin-top: -1rem; }
        @media screen and (max-width: 480px) {
          body #banner .container .header h2 {
        font-size: 1.6em; } }
        @media screen and (min-width: 481px) and (max-width: 768px) {
          body #banner .container .header h2{
            font-size: 1.3em;
            width: 30em; } }
    body #banner .container .player {
      margin: 0 auto;
      border-radius: 5px;
      display: -webkit-flex;
      align-items: center;
      align-content: center;
      position: relative;
      justify-content: center;
      cursor: pointer;
      transition: all 250ms;
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      height: 20em;
      width: 40em;
      background-image: url(images/player.png); }
      @media screen and (max-width: 480px) {
        body #banner .container .player {
          width: calc(40em/2);
          height: calc(20em/2); } }
      @media screen and (min-width: 481px) and (max-width: 768px) {
        body #banner .container .player {
          width: 30em;
          height: 15em; } }
      body #banner .container .player .play-icon {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        margin-top: 7rem; }
      body #banner .container .player .play-icon a img {
        width: 5em;
        padding-bottom: 1em; }
        @media screen and (max-width: 480px) {
          body #banner .container .player .play-icon a img {
            padding-bottom: 0; } }
        @media screen and (max-width: 480px) {
          body #banner .container .player .play-icon  {
            margin-top: 2em; } }
        @media screen and (max-width: 480px) {
          body #banner .container .player .play-icon a img {
            width: 3em; } }
        @media screen and (max-width: 480px) {
          body #banner .container .player .play-icon a p{
            margin-top: 1em; } }
        @media screen and (min-width: 481px) and (max-width: 768px) {
          body #banner .container .player .play-icon {
            width: 18em;
            margin-top: 3rem; } }
        @media screen and (min-width: 481px) and (max-width: 768px) {
          body #banner .container .player .play-icon  a img {
            width: 5em;
            padding-bottom: 1em; } }
        body #banner .container .player .play-icon .text {
          color: #fff;
          font-size: 2rem;
          font-weight: 300;
          line-height: 0.5rem; }

  body .content {
    padding-top: 6rem; }
    body .content .row {
      padding-bottom: 11rem; }
      body .content .row .description {
        padding: 5.6rem 4rem; }
        body .content .row .description h4 {
          color: #0E222F;
          text-align: left;
          margin: 0;
          font-weight: 300;
          font-size: 3rem; }
        body .content .row .description p {
          margin-top: 1rem;
          color: #0E222F;
          font-size: 2rem;
          font-weight: 300; }
      body .content .row img {
        display: block;
        -webkit-flex-shrink: 0;
        height: auto;
        width: 100%; }
  body .demo {
    background-color: #ebebeb;
    padding: 4rem 0;
    text-align: center; }
    body .demo h2 {
      margin: 0 0 1rem;
      color: #AC62D0;
      font-size: 3rem;
      font-weight: 200; }
    body .demo p {
      font-size: 1.7rem;
      font-weight: 400;
      margin: 0; }
      body .demo p .demo-btn {
        text-decoration: none;
        display: inline-block;
        border: 2px solid #AC62D0;
        color: #AC62D0;
        margin: 0 auto;
        padding: 8px 25px;
        border-radius: 8px;
        letter-spacing: .15rem;
        cursor: pointer; }
        body .demo p .demo-btn:hover {
          color: #fff;
          background: #AC62D0; }
          body footer {
            /*width: 100%;*/
            display: inline-block;
            font-size: .8em;
            color: #5D5D5D;
            height: 30%;
            background-color: #16171D;
            padding: 40px;
            text-align: center; }
            @media screen and (max-width: 480px) {
              body footer {
                display: block;
                padding: 2em;
                font-size: .6em; } }
            body footer span {
              display: block; }
              @media screen and (max-width: 480px) {
                body footer span {
                  display: inline-block;
                  padding-right: 3em; } }
            body footer h4 {
              color: white;
              text-align: left; }
            body footer div[class$="footer"] {
              width: 21%;
              padding: 25px 25px;
              display: inline-block;
              margin-right: 30px;
              text-align: left;}
              @media screen and (max-width: 480px) {
                body footer div[class$="footer"] {
                  width: 100%;
                  padding: .1em; } }
              @media screen and (min-width: 481px) and (max-width: 768px) {
                body footer div[class$="footer"] {
                  font-size: .9em;
                  margin-right: 0; } }
            body footer .andela-footer {
              color: #9B9B9B; }
              @media screen and (max-width: 480px) {
                body footer .andela-footer {
                  font-size: .1em;
                  width: 100%;
                  margin: 1em 0em;
                  padding: .1em; } }
              body footer .andela-footer img {
                display: block;
                width: 30%;
                margin-bottom: 20px; }
                @media screen and (min-width: 481px) and (max-width: 768px) {
                  body footer .andela-footer img {
                    width: 70%;
                    margin-right: 0; } }
              body footer .andela-footer .navigation-footer, body footer .andela-footer .projects-footer {
                width: 15%; }
                @media screen and (max-width: 480px) {
                  body footer .andela-footer .navigation-footer, body footer .andela-footer .projects-footer {
                    font-size: .2em;
                    padding-top: .5em; } }
                @media screen and (min-width: 481px) and (max-width: 768px) {
                  body footer .andela-footer .navigation-footer, body footer .andela-footer .projects-footer {
                    font-size: .2em;
                    padding-top: .5em; } }
              body footer .andela-footer .navigation-footer span {
                padding: 1em 1em; }
              body footer .andela-footer .projects-footer ul li {
                list-style-type: none; }
